doctype html
html(class="no-js")
  head
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.0/css/foundation.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.0/js/foundation.min.js')
    link(rel='stylesheet', href='../css/layout.css')
    block header
    
    nav(class="title-bar" id="menu-bar-main")
      div(class="top-bar-left")
        ul(class="dropdown menu" data-dropdown-menu)
          li
            b
              a(href="/dashboard", id="menu-bar-home")= "CVBT"
          li
            a(href="#")= tables_text
            ul(class="menu vertical")
              li
                a(href="#") History Tables
                ul(class="menu vertical")
                  li
                    a(href="../table/prodhistory") Product History
                  li
                    a(href="../table/comphistory") Component History
              li
                a(href="../table/buckets") Buckets
              li
                a(href="../table/componentUsage") Component Usage
              li
                a(href="../table/components") Components
              li
                a(href="../table/compType") Comp Type
              li
                a(href="../table/empSalary") Emp Salary
              li
                a(href="../table/fixedAssyUse") Fixed Assy Use
              li
                a(href="../table/mix") Mix
              li
                a(href="../table/mixRegistry") Mix Registry
              li
                a(href="../table/modelCostData") Model Cost Data
              li
                a(href="../table/personnel") Personnel
              li
                a(href="../table/prodGrp") Prod Grp
              li
                a(href="../table/productsColorCostJg") Product Color Cost Jg
              li
                a(href="../table/products") Products
              li
                a(href="../table/status") Status
              li
                a(href="../table/units") Units
              li
                a(href="../table/unitType") Unit Type
          li
            a(href="#")= testmaterial_text
            ul(class="menu vertical")
              li
                a(href="#") Price List (Test)
          li
            a(href="#")= reports_text
            ul(class="menu vertical")
              li
                a(href="#") Components Report
              li
                a(href="#") Price List
              li
                a(href="#") Product Group Prices Report
              li
                a(href="#") Labor Rates By Group Report
              li
                a(href="#") Mix Registry Report
          li
            a(href="#")= temptables_text
            ul(class="menu vertical")
              li
                a(href="#") Prodcosts
          li
            a(href="#")= charts_text
            ul(class="menu vertical")
              li
                a(href="../graphs/breakeven.html") Break Even
              li
                a(href="../graphs/payback.html") Payback Period
              li
                a(href="../graphs/productCostBreakdown.html") Products Chart
          li
            a(href="#")= months_text
          li
            a(href="#")= test_text
          li
            a(href="../settings")= settings_text
      div(class="top-bar-right")
        ul(class="dropdown menu" data-dropdown-menu)
          li
            a(href="../logout", id="logout")= logout_text

  body
      block table
      block content
      block sources
      block error
      script(type="text/javascript", src='../js/layout.js')
