extends layout

block header
  title= "Settings"

block sources
  script(type="text/javascript", src='../js/settings.js')
  link(rel="stylesheet", type="text/css", href="../css/settings.css")

block content
  div(class="large-5 large-centered columns" id="settings-container")
    h2= accountsettings_text
    div(class="medium-5" id="shared-table")
      div(class="row")
        table(class="hover")
          th= tablessharedwith_text
          each person in shared
            tr  
              td= person  
      div(class="row")
        form
          div(class="medium-7 medium-centered columns" id="add-user-form")
            label= sharetables_text
              input(type="text" id="newuser" placeholder= username_text)
            div(class="medium-12 columns")
              a(title="Add new shared user", class="button", id="add-button", disabled)= add_text
    h2= userlangtitle_text
    div(class="medium-5" id="locale-table")
      div(class="row")
        table(class="hover")
          th= Current
            tr
              td= currlang_text
      div(class="row")
        div(class="input-group")
          select(id="locales-select")
            option(disabled selected value="none" id="unselected-locale")= defaultselect_text
            option(value="en")= english_text
            option(value="es")= spanish_text
          div(class="input-group-button")
            input(type="submit" class="button" value= change_text id="change-lang-button")

