extends layout

block sources
  link(rel="stylesheet", type="text/css", href="//cdn.datatables.net/1.10.13/css/jquery.dataTables.css")
  script(type="text/javascript", charset="utf8", src='//cdn.datatables.net/1.10.13/js/jquery.dataTables.js')
  script(type="text/javascript", src='../js/table.js')
  link(rel="stylesheet", type="text/css", href="../css/table.css")
  script(type="text/javascript", src="https://cdn.datatables.net/buttons/1.2.4/js/dataTables.buttons.min.js")
  script(type="text/javascript", src="https://cdn.datatables.net/buttons/1.2.4/js/buttons.print.min.js")
  link(rel="stylesheet", type="text/css", href="https://cdn.datatables.net/buttons/1.2.4/css/buttons.dataTables.min.css")

block table
  //- display attribute it set to show after clientside loading
  div(class="reveal" id="edit-modal" data-reveal)
    h1= "Edit"
    form(id="edit-form")
    a(class="button") Submit Changes
    button(class="close-button" data-close aria-label="Close modal" type="button")
      span(aria-hidden="true") &times;
  
  
  div(id="data-table-container", style="display: none")
    h2= table_name
    div(id="crud-buttons")
      a(data-open="edit-modal", title="Edit Database Item", class="button", id="edit-button", disabled) Edit
      a(href="#", title="Delete Database Item", class="button alert", id="delete-button", disabled) Delete
    div(id="table-name" style="display: none")= table_abrv
    table(id="data-table", class="cell-border", cellspacing="0", width="100%")
      
      thead
        tr
          each header in table_header
            td= header
      tbody
        each row, index in table_data
          tr(row-num=index)
            each value, col in row
              td(id=col, row-num=index)= value
